@import 'colors';
.about-me{
    margin: 30px;

    h2{
        @extend .h2;
    }
    p{
        font-family: $font-family-josefin;
        line-height: 26px;
        margin-top: 10px;
    }
    .section-line{
        @extend .section-line;
        margin-top: 20px;
    }
}